/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*Basic*/
body {
  background-color: #f8f8f8; }

body, input, select, textarea {
  font-family: Segoe UI, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.015em; }

h1, h2, h3 {
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 0.5em 0; }

h1 {
  font-size: 2.7em;
  letter-spacing: -0.05em; }

h2 {
  font-size: 1.7em;
  line-height: 1.5em;
  letter-spacing: -0.035em; }

h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  letter-spacing: -0.025em; }

hr {
  border: 0;
  border-bottom: solid 2px #afafaf;
  margin-bottom: 1.5em; }

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2em 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px #a8a8a8;
    border-left: 0;
    border-right: 0; }
    table tbody tr:nth-child(2n + 1) {
      background-color: #f8f8f8; }
    table tbody tr:hover {
      color: #fff;
      background-color: #3f7cac; }
  table td {
    padding: 0.75em 0.75em; }
  table th {
    color: #646464;
    font-size: 0.9em;
    font-weight: 300;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left; }
  table thead {
    border-bottom: solid 2px #a8a8a8; }

/*Form*/
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  outline: 0;
  margin: 0.2em;
  text-decoration: none;
  line-height: 1.4; }

/*Header*/
#logo {
  background: #3f7cac;
  color: #fff;
  cursor: default;
  height: 3.45em;
  left: 0;
  line-height: 1.25;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  #logo h1 {
    height: inherit;
    color: inherit;
    left: 0.5em;
    line-height: inherit;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0; }
  #logo nav {
    height: inherit;
    line-height: 3.5;
    position: absolute;
    left: 20em;
    top: 0;
    vertical-align: text-bottom; }
    #logo nav > ul {
      list-style: none;
      margin: 0;
      padding-left: 0; }
      #logo nav > ul > li {
        display: inline-block;
        padding-left: 0; }
      #logo nav > ul a {
        display: inline-block;
        height: 1.5em;
        line-height: 1.45em;
        padding: 0 1em;
        color: inherit;
        border: 0;
        text-decoration: none; }

/*Banner*/
#banner {
  background-attachment: scroll, fixed;
  background-color: #fff;
  background-image: url("../img/cover.jpg");
  background-position: top left, center center;
  background-size: auto;
  background-repeat: round;
  margin-top: 3.45em;
  padding: 12em 0 17em 0;
  text-align: center; }
  #banner :last-child {
    margin-bottom: 0; }
  #banner h2 {
    color: #222;
    font-size: 1.75em;
    line-height: 2;
    padding: 0;
    margin: 0 0 0.5em 0; }
  #banner form {
    margin: 0 auto;
    max-width: 100%;
    width: 25em; }
  #banner input[type="submit"],
  #banner .button {
    min-width: 15em;
    box-shadow: none;
    background: #3f7cac;
    color: #fff;
    border: 2px solid #3f7cac;
    text-transform: uppercase;
    margin: 0.6em; }
  #banner input[type="text"],
  #banner input[type="password"],
  #banner select,
  #banner textarea {
    padding-left: 0.4em;
    border: 2px solid #efefef;
    border-radius: 5px;
    min-width: 14.4em; }
    #banner input[type="text"]:focus,
    #banner input[type="password"]:focus,
    #banner select:focus,
    #banner textarea:focus {
      box-shadow: inset 0 0 0 2px #fff;
      border: 2px solid #00acff;
      border-radius: 5px; }

/*Main*/
#main {
  padding: 4em 0 0 0; }
  #main > header {
    margin: 0 0 3em 0; }
    #main > header h2 {
      text-align: center;
      font-size: 2.75;
      margin: 0; }
    #main > header p {
      text-align: justify;
      display: inline-block;
      font-style: normal;
      margin: 1em 0 0 0;
      padding: 1em 0 1.25em 0; }

/*CTA*/
#cta {
  background-position: top left, center center;
  background-size: auto;
  background-position: top left, center center;
  background-size: auto;
  padding: 6em 0 4em 0;
  text-align: center;
  background-repeat: round;
  background-color: #fff; }

/*Footer*/
#footer {
  background: #3f7cac;
  padding: 2em 0 1em 0;
  color: #fff;
  line-height: 3; }
  #footer .copyright {
    color: inherit;
    font-size: 0.9em;
    line-height: 1em;
    margin: 0.2em 0 0 0;
    padding: 0; }
    #footer .copyright li {
      display: inline-block;
      list-style: none; }
      #footer .copyright li:first-child {
        margin-left: 0.5em;
        padding-left: 1em; }
  #footer .buttonmenu {
    line-height: inherit;
    padding: 0; }
    #footer .buttonmenu ul {
      display: inline-block; }
      #footer .buttonmenu ul li {
        display: inline-block;
        border-left: solid 1px #fff;
        height: 1em;
        line-height: 1;
        margin-left: 1em;
        padding-left: 1em;
        list-style: none; }
        #footer .buttonmenu ul li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0; }
        #footer .buttonmenu ul li:last-child {
          border-right: 0;
          margin-right: 0;
          padding-right: 0; }
        #footer .buttonmenu ul li a {
          display: inline-block;
          height: 1.5em;
          line-height: 1;
          padding: 0 1em;
          color: inherit;
          border: 0;
          text-decoration: none; }
    #footer .buttonmenu .storages {
      margin-left: 8em; }

/*# sourceMappingURL=styles.css.map */
