//Font
$basic-ff: Segoe UI, sans-serif;
$font-weight: 300;
$basic-fs: 1em;
$logo-fs: 2.7em;

//Color
$header-color: #3f7cac;
$bg-color: #f8f8f8;
$header-fc: #fff;
$focus-color: #00acff;
$hr-color: #afafaf;
$border-bg-color: #bbb;
$color-fg-bold: #646464;
$form-incorrect: #cf5340;
$form-correct: #b4d388;

//Size
$size-element-margin: 2em;
$size-header-height: 3.45em;

//Media-Querries Screen Sizes
$phone: 380px;
$wide: 1680px;
$normal: 1280px;
$narrow: 980px;
$mobile: 736px;